<div class="masonry">
  <div class="grid" *ngFor="let item of files ">
    <div class="row">
      <div class="col d-flex justify-content-end">
        <i class="fa fa-trash eliminar p-3" (click)="eliminar(item.uid)"></i>
      </div>
    </div>

    <img [src]= "item.url">
  </div>
</div>
