<div class="row mx-5 my-5">
  <div class="col d-flex justify-content-center">
    <mat-card class="egresos animate__animated animate__bounceInRight animate__slower">
      <form class="egresos-form" [autocomplete]="'off'" (ngSubmit)="egresos()" [formGroup]="egresosForm">
        <mat-form-field class="egresos-full-width" appearance="fill">
          <mat-label>Concepto</mat-label>
          <input matInput formControlName="concepto">
        </mat-form-field>
        <mat-form-field class="egresos-full-width" appearance="fill">
          <mat-label>Monto</mat-label>
          <input  currencyMask matInput  formControlName="monto">
        </mat-form-field>
        <div class="row mt-3">
          <div class="col d-flex justify-content-center ">
            <button
              [disabled]="egresosForm.invalid"
              type="submit"
              *ngIf="!cargando"
              mat-raised-button
              color="warn">
              Agregar Egreso
            </button>
            <button
              [disabled]="true"
              *ngIf="cargando"
              type="submit"
              mat-raised-button
              color="primary">
              Espere. . .
              <i class="fa fa-spin fa-sync"></i>
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
