<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4" style="color: white;">Ingresar</h2>
        <div class="auto-form-wrapper">

          <form class="form" [autocomplete]="'off'" [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="" value="" type="email" formControlName="email">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="" value="" type="password" formControlName="pw">
            </mat-form-field>

            <div class="row mt-3">
              <div class="col d-flex justify-content-center ">
                  <button *ngIf="!loading"
                          type="submit"
                          mat-raised-button
                          color="primary"
                          [disabled]="loginForm.invalid">Login</button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col d-flex justify-content-center ">
                <button *ngIf="loading"
                        type="button"
                        mat-raised-button
                        color="primary"
                        [disabled]="true">
                  <i class="fa fa-spin fa-sync"> </i>
                  Espere...
                </button>
              </div>
            </div>
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">No estas registrado? </span>
              <br>
              <a  [routerLink]="['/register']" class="text-black text-small" >Crear una cuenta</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


