
<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4"  style="color: white;">Registro</h2>
        <div class="auto-form-wrapper">

          <form class="form" [autocomplete]="'off'" [formGroup]="registerForm" (ngSubmit)="createUser()">

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="" value="" type="text" formControlName="user">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="" value="" type="email" formControlName="email">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="" value="" type="password" formControlName="pw">
            </mat-form-field>

            <div class="row mt-3">
              <div class="col d-flex justify-content-center ">
                <button *ngIf="!loading"
                        type="submit"
                        mat-raised-button
                        color="primary"
                        [disabled]="registerForm.invalid">
                  Crear Cuenta
                </button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col d-flex justify-content-center ">
                <button *ngIf="loading"
                        type="button"
                        mat-raised-button
                        color="primary"
                        [disabled]="true">
                  <i class="fa fa-spin fa-sync"> </i>
                  Espere...
                </button>
              </div>
            </div>
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">ya tienes una cuenta? </span>
              <br>
              <a  [routerLink]="['/']" class="text-black text-small" >Login</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
