<div class="container-fluid">
  <div class="row">
    <div class="barra-lateral col-12 col-sm-auto">
      <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
        <a [routerLink]="['inicio']" [routerLinkActive]="'active'"><i class="fa fa-home" aria-hidden="true"></i> <span>Inicio</span></a>
        <a [routerLink]="['ingresos']" [routerLinkActive]="'active'"><i class="fa fa-money" aria-hidden="true"></i><span>Ingresos</span></a>
        <a [routerLink]="['egresos']" [routerLinkActive]="'active'"><i class="fa fa-exchange" aria-hidden="true"></i><span>Egresos</span></a>
        <a [routerLink]="['detalle']" [routerLinkActive]="'active'"><i class="fa fa-table" aria-hidden="true"></i><span>Detalle</span></a>
        <a [routerLink]="['documentos']" [routerLinkActive]="'active'"><i class="fa fa-upload" aria-hidden="true"></i><span>Documentos</span></a>
        <a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Salir</span></a>
      </nav>
    </div>
    <main class="main col">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
