.barra-lateral{
  background: #25262A;
  color: #FFFFFF;
  min-width: 300px;
  min-height: 100vh;
  padding: 0;
}
.barra-lateral a {
  color: #FFFFFF;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.barra-lateral .menu a {
  display: block;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}


.barra-lateral .menu a:hover {
  background:  #d6f5d6;
  color: black;
  text-decoration: none;
}

.barra-lateral .menu a span {
  margin-left: 10px;
  font-weight: normal;
}

/* Media queries */

@media screen and (max-width: 1300px){

  .barra-lateral {
    min-width: auto;
  }


  .barra-lateral .menu a span
  {
    display: none;
  }

  .barra-lateral .menu a i {
    margin-right: 0;
  }
}


@media screen and (max-width: 575px){
  .barra-lateral {
    min-height: auto;
  }

  .barra-lateral .menu a {
    display: inline-block;
    border-bottom: none;
  }

}
