.ingresos{
  background: #d5e8f6;
  color: darkblue;
  font-weight: normal;
}
.egresos{
  background: #f7d4dc;
  color: darkred;
  font-weight: normal;
}

.diferencia{
  background: lightgray;
}

.ingreso-icon {
  color: darkblue;
}

.egreso-icon {
  color: darkred;
}

.saldo {
  background: #d6f5d6;
  color: black;
}
.bank-icon {
  color: black;
}
