<div class="row my-5 mx-5">
  <div class="col d-flex justify-content-around">
    <div class="col col-md-3" >
      <mat-card  class="ingresos animate__animated animate__bounceInLeft animate__slower">
        <div class="row">
          <div class="col d-flex justify-content-between">
            <div class="col-6 d-flex justify-content-start">
              <h1 >Ingresos</h1>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <i class="fa fa-money fa-2x ingreso-icon "></i>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <h2 >{{totalIngresos | currency}}</h2>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col col-md-3">
      <mat-card class="egresos animate__animated animate__bounceInRight animate__slower">
        <div class="row">
          <div class="col d-flex justify-content-between">
            <div class="col-6 d-flex justify-content-start">
              <h1>Egresos</h1>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <i class="fa fa-frown-o fa-2x egreso-icon"></i>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <h2>{{totalEgresos | currency}}</h2>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="row my-5 mx-5" >
  <div class="col d-flex justify-content-center">
    <div class="col col-md-4">

      <mat-card class="saldo animate__animated animate__bounceInDown animate__slower">
        <div class="row">
          <div class="col d-flex justify-content-between">
            <div class="col-6 d-flex justify-content-start">
              <h1>Saldo</h1>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <i class="fa fa-university fa-2x bank-icon"></i>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <h2>{{ totalIngresos - totalEgresos | currency}}</h2>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="row my-5 mx-5">
  <div class="col d-flex justify-content-center">
    <ngx-charts-bar-vertical
      *ngIf="isData"
      class="animate__animated animate__bounceInUp animate__slower"
      [view]="[1000,400]"
      [results]="saleData"
      [xAxisLabel]="'Finanzas'"
      [legendTitle]="'Conceptos'"
      [yAxisLabel]="'Monto'"
      [scheme]="colorScheme"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true">
    </ngx-charts-bar-vertical>
  </div>
</div>


