<div class="row  my-5 mx-5">
  <div class="col d-flex justify-content-center">
    <H1 class="animate__animated animate__bounceInDown animate__slower">INGRESOS</H1>
  </div>
</div>


<div class="row my-5 mx-5">
  <div class="col d-flex justify-content-center">
  <div class="col-6 ">
    <mat-table [dataSource]="ingresos" class="mat-elevation-z8 detalle animate__animated animate__bounceInDown animate__slower" >

      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="monto">
        <mat-header-cell *matHeaderCellDef>Monto </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.monto | currency}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef>Ingresos</mat-header-cell>
        <mat-cell *matCellDef="let element" [class.text-success]="element.tipo ==='ingreso'"> {{element.tipo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i class="fa fa-trash eliminar" (click)="eliminar(element.uid, element.tipo)"></i>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
  </div>
</div>

<div class="row  my-5 mx-5">
  <div class="col d-flex justify-content-center">
    <H1 class="animate__animated animate__bounceInUp animate__slower">EGRESOS</H1>
  </div>
</div>

<div class="row my-5 mx-5">
  <div class="col d-flex justify-content-center">
    <div class="col-6">
      <mat-table [dataSource]="egresos" class="mat-elevation-z8 detalle animate__animated animate__bounceInUp animate__slower" >

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="monto">
          <mat-header-cell *matHeaderCellDef>Monto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.monto | currency}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="tipo">
          <mat-header-cell *matHeaderCellDef>Egresos</mat-header-cell>
          <mat-cell *matCellDef="let element"  [class.text-danger]="element.tipo ==='egreso'"> {{element.tipo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <i class="fa fa-trash eliminar" (click)="eliminar(element.uid, element.tipo)"></i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>

</div>

