<div class="row mx-5 my-5">
  <div class="col d-flex justify-content-center">
    <mat-card class="ingresos animate__animated animate__bounceInLeft animate__slower">
      <form class="ingresos-form" [autocomplete]="'off'" (ngSubmit)="ingresos()" [formGroup]="ingresosForm">
        <mat-form-field class="ingresos-full-width" appearance="fill">
          <mat-label>Concepto</mat-label>
          <input matInput formControlName="concepto">
        </mat-form-field>
        <mat-form-field class="ingresos-full-width" appearance="fill">
          <mat-label>Monto</mat-label>
          <input currencyMask matInput  formControlName="monto">
        </mat-form-field>
        <div class="row mt-3">
          <div class="col d-flex justify-content-center ">
            <button
                  [disabled]="ingresosForm.invalid"
                  *ngIf="!cargando"
                    type="submit"
                    mat-raised-button
                    color="primary">
                  Agregar Ingreso
              <i class="fa fa-save"></i>
            </button>
            <button
              [disabled]="true"
              *ngIf="cargando"
              type="submit"
              mat-raised-button
              color="primary">
              Espere. . .
              <i class="fa fa-spin fa-sync"></i>
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
