<div class="row my-5 mx-5">
   <div class="col-md-4">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h2>Selecciona tus archivos</h2>
        </div>
      </div>

      <div appNgDropFiles
           [files]="files"
           (overMouse)="isOverElement = $event"
           class="well drop-zone"
           [ngClass]="{'file-over': isOverElement}">
        <h4> Arrastra aqui tus archivos </h4>
        <h5> Solo archivos. png y jpg son permitidos </h5>
        <h5> Soporta subir varios archivos a la vez. </h5>
        <img src="assets/drop-images.png">
      </div>
    </div>
    <div class="col-md-4">

      <div class="row">
        <div class="col d-flex justify-content-center">
          <h2>Subir Archivos</h2>
        </div>
      </div>
      <div class="row">
       <div class="col d-flex justify-content-center">
         <div class="col-6">
           <button (click)="uploadFiles()" [disabled]="files.length === 0"
             type="button" mat-raised-button color="primary">Subir Archivo
           </button>
         </div>
         <div class="col-6">
           <button (click)="clean()" type="button"
             mat-raised-button color="warn">Limpiar
           </button>
         </div>
       </div>
      </div>

      <table class="table">
        <thead  class="table">
        <tr>
          <th>Nombre del Archivo</th>
          <th>Tamano</th>
          <th>Progreso</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of files">
          <td>{{file.fileName}}</td>
          <td>{{file.file.size / 1024 / 1024 | number: '.2-2'}}MB</td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width': file.progress + '%'}"></div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="row mx-5 my-5">
  <div class="col">
    <app-archivos></app-archivos>
  </div>
</div>
