@import "~animate.css/animate.min.css";

html, body {

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

button {
  margin-right: 1vw;
  font-size: 12px;
  height: auto;
  width: 200px;
}

.main-container{
  margin-top: 40px;
}

/* Drop Zone */
.drop-zone {
  border: dotted 3px lightgray;
  opacity: 0.5;
  color: #666;
  text-align: center
}

.file-over {
  border: dotted 3px dodgerblue;
}

.table {
  margin-top: 30px;
}

.text-green {
  color: green
}

